#root {
  min-height: 100vh;
}

body {
  background-color: transparent;
  margin: 0;
  font-family: 'Avenir', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: initial;
  text-decoration: none;
}

p {
  word-break: break-word;
}
